<div class="bg-light py-4">
    <div class="container">

        <!-- Breadcrumb for white background -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item text-uppercase"><a href="#">Home</a></li>
                <li class="breadcrumb-item text-uppercase"><a href="#">Portfolio</a></li>
                <li class="breadcrumb-item text-uppercase active" aria-current="page">Portfolio single</li>
            </ol>
        </nav>

    </div>
</div>