<!-- Button trigger modal -->
  <input type="image" src="https://cdn3.iconfinder.com/data/icons/ikooni-flat-online-shopping/128/shopping-14-512.png" alt="Submit" width="48" height="48" data-toggle="modal" data-target="#exampleModalCenter">
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Products details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>#</th>
                    {{message}}
                    <th>Product name</th> 
                    <th>Product price</th>
                    <th>Product type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}₪</td>
                    <td>{{product.type}}</td>
                    <input type="image" src="https://image.flaticon.com/icons/svg/61/61848.svg"
                    alt="Submit" width="30" height="30" style="position: relative" (click)="removeItem(product)" >
                  </tr>
                </tbody>
              </table>
              
              <label>Total Price: {{totalPrice}}$ </label>
              <input type="image" value="reset cart" src="https://cdn2.iconfinder.com/data/icons/shopping-e-commerce-2-1/32/Remove-All-Cart-delete-Trolley-512.png" 
              style="float: right;" alt="Submit" width="30" height="30" (click)="resetCart()">
              <div>
              
            </div>
        </div>
       >
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sendOrder()">Buy Now!</button>
        </div>
      </div>
    </div>
  </div>