<div style="size: 3cm">    
    <input [(ngModel)]="char" type="text" value="" placeholder="                                                                                                                                                                              Select char A-Z:" 
    class="form-control form-control-lg">
    <button (click)="statisticSearch()" class="form-control form-control-lg">search</button>
    <label for="result" class="form-control form-control-lg">{{result}}</label>
  
</div>