<div *ngIf="isAllProducts()">
    <div class="container">
        <div class="row">
          <div class="col-sm">
              <select [(ngModel)]="selectedCategory" class="custom-select" id="inputGroupSelect01">
                  <option selected>Category</option>
                  <option *ngFor="let category of categories; let i = index" value={{category}}>{{category}}</option>
                </select>

          </div>
          <div class="col-sm">
              <span class="input-group-text">Min Price: {{minval}}</span>
              <input [(ngModel)]="minval" type="range" class="custom-range" id="customRange1">
          </div>
          <div class="col-sm">
              <span class="input-group-text">Max Price: {{maxval}}</span>
              <input [(ngModel)]="maxval" type="range" class="custom-range" id="customRange2">
          </div>
          <div class="col-sm">
            <button class="btn btn-primary btn-sm" (click)="handleSearch()">Search</button>
        </div>
        </div>
      </div>
</div>

<div class="row justify-content-center">
    <div *ngFor="let product of products" class="card col-auto customCard shadow-sm" style="width: 18rem;">
      <h6 class="card-header border-0 text-center">Title of product</h6>
        <img class="card-img-top" src={{product.image}}>
        <div class="card-body text-center">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a (click)="addToCart(product)" class="btn btn-light btn-sm mx-1">Add to cart!</a>
        </div>
    </div>
</div>