<div class="row justify-content-center">
    <div *ngFor="let product of products" class="card col-auto customCard shadow-sm" style="width: 18rem;">
      <h6 class="card-header border-0 text-center">Title of product</h6>
        <img class="card-img-top" src={{product.image}}>
        <div class="card-body text-center">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-light btn-sm mx-1">Add to cart!</a>
        </div>
    </div>
</div>