<nav class="navbar justify-content-center navbar-light bg-light">
  <form class="form-inline">
    <button routerLink="bla" class="btn btn-outline-success adminPanelButton" type="button">Users</button>
    <a routerLink="adminPanel/products" class="btn btn-outline-success adminPanelButton" type="button">Products</a>
    <button routerLink="adminPanel/users" class="btn btn-outline-success adminPanelButton" type="button">Suppliers</button>
    <button class="btn btn-outline-success adminPanelButton" type="button">Orders</button>
  </form>
</nav>