<div >
  <div class="container">
      <div class="row">
        <div class="col-sm">
            <input placeholder="Username" type="text" [(ngModel)]="nameLike" id="inputGroupSelect01">
        </div>
        <div class="col-sm">
            <span class="input-group-text">Min Orders: {{minVal}}</span>
            <input [(ngModel)]="minVal" type="range" class="custom-range" id="customRange1">
        </div>
        <div class="col-sm">
            <span class="input-group-text">Max Orders: {{maxVal}}</span>
            <input [(ngModel)]="maxVal" type="range" class="custom-range" id="customRange2">
        </div>
        <div class="col-sm">
          <button class="btn btn-primary btn-sm" (click)="handleSearch()">Search</button>
      </div>
      </div>
    </div>
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">User name</th>
      <th scope="col">Email</th>
      <th scope="col">First name</th>
      <th scope="col">Password</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{user._id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.password}}</td>
      <button type="button" class="btn btn-light"data-toggle="modal" data-target="#editUser"
      (click)="editUserInfo(user.username,user.email,user.password,user.firstname,user._id)" >Edit</button>
      <button type="button" class="btn btn-light" (click)="deleteUser(user)">Remove</button>
    </tr>
  </tbody>
</table>

<app-edit-user-info></app-edit-user-info>