<p>
  To view all users who made one order,
  sign up for the app yesterday and one of their orders has two products
  <input [(ngModel)]='clickButton' type="button" value="Click here" (click)="getUserWithParam()">
</p>
<app-cms></app-cms>
<div class="input-group mb-3 biba">
    
  <input [(ngModel)]='search' type="text" class="searchBtn" placeholder="username" aria-label="Recipient's username"
    aria-describedby="button-addon2">
  <div class="input-group-append searchInput">
    <button class="btn btn-outline-secondary " type="button" id="button-addon2" (click)="getUserByUsername()">Search</button>
  </div>
  
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">User name</th>
      <th scope="col">Email</th>
      <th scope="col">First name</th>
      <th scope="col">Password</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{user._id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.password}}</td>
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editUser" (click)="editUserInfo(user.username,user.email,user.password,user.firstname,user._id)">Edit</button>
      <button type="button" class="btn btn-light" (click)="deleteUser(user)">Remove</button>
    </tr>
  </tbody>
</table>

<app-edit-user-info></app-edit-user-info>