<p>
  To view all users who made one order, 
  sign up for the app yesterday and one of their orders has two products
  <input [(ngModel)]='clickButton' type="button" value="Click here" (click)="getUserWithParam()">
</p>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Address</th>
      <th scope="col">Birthday</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td>{{user.address}}</td>
      <td>{{user.birthday}}</td>
      <button type="button" class="btn btn-light" (click)="editUser(user)">Edit</button>
      <button type="button" class="btn btn-light" (click)="deleteUser(user)">Remove</button>
    </tr>
  </tbody>
</table>