<div></div>
<div class="btn-group" role="group" aria-label="Basic example">
  <a type="button" class="btn btn-secondary" routerLink="allProduct-list">All Products</a>
  <a type="button" class="btn btn-secondary" routerLink="milky-list">Milky Products</a>
  <a type="button" class="btn btn-secondary" routerLink="meat-list">Meat Products</a>
  <a type="button" class="btn btn-secondary" routerLink="snack-list">Snack Products</a>
  <a type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addProductModal">Add Product</a>
<app-add-product></app-add-product>
</div>
  <router-outlet></router-outlet>
  <app-edit-product-info></app-edit-product-info>