<div></div>
<div class="bibaGroup" role="group" aria-label="Basic example">
  <a type="button" class="bibaBtn" routerLink="allProduct-list">All Products</a>
  <a type="button" class="bibaBtn" routerLink="milky-list">Milky Products</a>
  <a type="button" class="bibaBtn" routerLink="meat-list">Meat Products</a>
  <a type="button" class="bibaBtn" routerLink="snack-list">Snack Products</a>
  <a type="button" class="bibaBtn" data-toggle="modal" data-target="#addProductModal">Add Product</a>
<app-add-product></app-add-product>
</div>
  <router-outlet></router-outlet>
  <app-edit-product-info></app-edit-product-info>