<div class="input-group mb-3">
    <input [(ngModel)]='search' type="text" class="input-btn-prod bibaInput" placeholder="product name" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append bibaSearchContainer">
      <button class="btn btn-outline-secondary bibaSearch" type="button" id="button-addon2" (click)="getProductByName()" >Search</button>
    </div>
  </div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">Product name</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      <th scope="col">Supplier</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{product._id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.type}}</td>
      <td>{{product.price}}</td>
      <td>{{product.supplier}}</td>
      
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editProductModal"
      (click)="editProductInfo(product.name,product.type,product.price,product._id,product.supplier)">Edit</button>
      <button type="button" class="btn btn-light" (click)="deleteProduct(product._id)" >Remove</button>
    </tr>
  </tbody>
</table>
