
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">Product name</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      <th scope="col">Supplier</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{product._id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.type}}</td>
      <td>{{product.price}}</td>
      <td>{{product.supplier}}</td>
      
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editProductModal"
      (click)="editProductInfo(product.name,product.type,product.price,product._id,product.supplier)">Edit</button>
      <button type="button" class="btn btn-light" (click)="deleteProduct(product._id)" >Remove</button>
    </tr>
  </tbody>
</table>
